* {
    box-sizing: border-box;
    font-family: "Arimo";
    margin: 0;
    padding: 0;
  }

  .card {
      width: 30%;
      min-width: 500px;
      
  }

  .card-wordcamp {
      background-color: #292827;
      padding: 50px 50px 80px;
      text-align: center;
  }

  .card-wordcamp .card-wordcamp-image {
      width: 170px;
  }

  .card-wordcamp .card-wordcamp-heading {
      margin: 30px 20px 10px;
      font-size: 27px;
      text-transform: uppercase;
      font-family: Arimo;
      color: #FABD6F;
  }

  .card-wordcamp .card-wordcamp-paragraph {
      margin: 20px;
      color: #F3EFEB;
  }

  .card-accessibility {
    background-color: #F6DCC2;
    padding: 40px;
    text-align: center;
    transition: all .3s;
}

.card-accessibility .card-accessibility-heading{
    font-size: 23px;
}

.card-conduct {
    background-color: #e8ab47;
    padding: 40px;
    text-align: center;
    transition: all .3s;
}

.card-conduct .card-conduct-heading {
    font-size: 23px;
    color: white;
}

.card-contact {
    background-color: #6C5005;
    padding: 40px;
    text-align: center;
    transition: all .3s;
}

.card-contact .card-contact-heading {
    font-size: 23px;
    color: white;
}

.card-faq {
    background-color: #CB9864;
    padding: 40px;
    text-align: center;
    transition: all .3s;
}

.card-faq .card-faq-heading {
    font-size: 23px;
    color: white;
}

.card-accessibility:hover {
    background-color: rgb(224, 188, 152);
    cursor: pointer;
}

.card-conduct:hover {
    background-color: #c4831a;
    cursor: pointer;
}

.card-contact:hover {
    background-color: rgb(88, 68, 11);
    cursor: pointer;
}

.card-faq:hover {
    background-color: rgb(151, 109, 67);
    cursor: pointer;
}