* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }

.card {
    width: 43%;
    height: 400px;
    max-width: 1000px;
    max-height: 800px;
}

.card-content-details {
    padding: 20px;
}

.card-content-title {
    font-size: 20px;
    color: #515151;
    letter-spacing: 0.8px;
}

.card-content hr {
    margin: 10px 0px 10px 0px;
    border-style: inset;
    border-width: 0.7px;
    color: #EFEEEE;
    width: 320px;
}

.card .card-content-info {
    display: inline-block;
}

.first-word {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #515151;
}

.hour {
    color: #8B8B8B;
}

.card .price {
    color: red;
    font-size: 40px;
    font-weight: 900;
}

.button {
    position: absolute;
    margin: -61px 185px 204px;    
    background-color: red;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 20px 25px; 
    font-size: 13px;
    font-weight: bold;
    transition: all .3s;
}

.button:hover {
    background-color: rgb(228, 1, 1);
}
